.blog__wrapper {
  margin-top: 50px;
  width: 70%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  font-family: "Poppins";
}

.blog__tile {
  // display: flex;
  // flex-direction: column;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 3px;
}


.blog__cattegory {
  color: #4b7bec;
  font-size: 1.4rem;
  align-self: flex-start;
  margin-bottom: 0.4rem;
}

.blog__post {
  display: flex;
  // display: grid;
  // grid-template-columns: 2fr 1fr;
}

.blog__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  margin-right: auto;
}

.blog__title {
  font-weight: 600;
  font-size: 1.7rem;
  color: rgb(48, 48, 48);
  margin-bottom: 0.3rem;
}

.blog__date {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.blog__text {
  font-size: 1.3rem;
  margin-right: 6rem;
}

.blog__link {
  margin-top: auto;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

img {
  margin-left: auto;
  max-width: 100%;
  max-height: 100%;
}
