.home_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: $base-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    width: 60rem;
  }

  &__title {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: $base-text-color;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &__description {
    font-size: 1.7rem;
    margin-bottom: 10rem;
    line-height: 1.5em;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  &__button {
    display: inline-block;
    padding: 1.4rem 4.4rem;
    margin: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: $base-text-color;
    font-weight: 700;
    border-radius: 60px;
    box-shadow: 0px 3px 15px rgba(73, 73, 73, 0.2);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include respond(tab-port) {
      font-size: 1.3rem;
      padding: 1.5rem 5rem;
    }
  }
}
