.sidebar {
  display: none;

  @include respond(tab-port) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: auto;
    height: 100%;
    transition: transform 0.3s ease-out;
    background-color: #141414;
    padding: 2.2rem 0;
    font-family: $nav-font;
  }

  &--open {
    transform: translateX(0);
  }

  &--closed {
    transform: translateX(-100%);
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.6;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
    width: 100%;

    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;

      &:hover {
        background-color: #303030;
        cursor: pointer;
      }
    }
  }

  &__logo {
    font-size: 3rem;
    margin-left: 2rem;
    margin-bottom: 2.2rem;
    margin-right: 2.2rem;
    color: white;
    font-weight: bold;
    font-family: $nav-font;
  }

  &__icon {
    margin-right: 1.5rem;
    font-size: 2.2rem;
  }

  &__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
}
