$nav-font: "Poppins";
$content-font: "Montserrat";

html {
    font-size: 62.5%;
    width: 100vw;
    overflow-x: hidden;
  
    @include respond(tab-port) {
      font-size: 55.5%;
    }
  
    @include respond(phone) {
      font-size: 50%;
    }
  }
  