.mission {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
  }

  &__text__box {
    color: $base-text-color;
    text-align: justify;
    font-family: "Poppins";
    width: 100rem;
    max-width: 90vw;
    font-size: 1.7rem;
    line-height: 200%;

    p {
      display: block;
      margin-bottom: 4rem;
    }
  }

  &__button {
    text-transform: uppercase;
    background-color: #f1f0f0;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    border: 1px solid rgba(#6f7073, 0.1);
    box-shadow: 0px 0px 10px rgba(#d8d8d8, 0.6);
    font-weight: 400;

    a {
      text-decoration: none;
      color: #738adb;
    }
  }

  &__list__title {
    display: block;
    font-weight: 500;
    font-size: 2.5rem;
    z-index: 1;
    margin-bottom: -2rem;

    &:after {
      position: relative;
      top: -4rem;
      background: $base-background;
      display: block;
      content: "";
      width: auto;
      height: 5rem;
      background-size: cover;
      background-position: right;
      z-index: -1;
    }
  }

  &__list {
    list-style: none;

    

    li {
      margin-bottom: 1.5rem;
      
      span {
        display: inline-block;
        transform: translateY(20%);
        font-size: 3rem;
        margin-right: 1.3rem;
        opacity: 0.9;
      }
    }
  }
}
