.team {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
    padding-bottom: 10rem;
  }

  // &__title {
  //   position: relative;
  //   display: block;
  //   color: $base-text-color;
  //   margin-top: 10rem;
  //   font-size: 5rem;
  //   z-index: 1;

  //   &:after {
  //     position: relative;
  //     right: -2rem;
  //     top: -4rem;
  //     background: $base-background;
  //     display: block;
  //     content: "";
  //     width: 42.6rem;
  //     height: 5rem;
  //     background-size: cover;
  //     background-position: right;
  //     z-index: -1;
  //   }
  // }

  &__cards {
    &__container {
      margin: 0 auto 0 auto;
      height: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8rem;

      // @include respond(big-desktop) {
      //   grid-template-columns: repeat(4, 1fr);
      // }

      @include respond(tab-port) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond(phone) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      text-align: center;
      background-color: white;
      border-radius: 4px;
      width: 28rem;
      height: 35rem;
      overflow: hidden;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      position: relative;
      box-shadow: 0px 4px 10px rgba(#d8d8d8, 0.6);
      border: 1px solid rgba(#6f7073, 0.1);

      @include respond(phone) {
        width: 40rem;
        height: 45rem;
        max-width: 90vw;
      }

      &:before {
        position: relative;
        background-image: $boosted-background;
        display: block;
        content: "";
        width: 100%;
        height: 11rem;
        background-size: 200%;
        background-position: right;
        opacity: 0.3;
        z-index: 2;

        @include respond(phone) {
          height: 15rem;
        }
      }

      img {
        position: relative;
        top: -7rem;
        width: 14rem;
        height: 14rem;
        border: 5px solid white;
        object-fit: cover;
        border-radius: 50%;
        z-index: 3;
        box-shadow: 0px 4px 10px rgba(#6f7073, 0.3);

        @include respond(phone) {
          width: 17rem;
          height: 17rem;
          top: -8rem;
        }
      }
    }

    &__title {
      font-family: Poppins;
      position: relative;
      top: -4.5rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: rgba($base-text-color, 0.8);

      span {
        opacity: 0.5;
        margin-left: 0.5rem;
        font-size: 1.2rem;
      }
    }

    &__role {
      position: relative;
      top: -4rem;
      text-transform: uppercase;
      opacity: 0.4;
      font-size: 1.2rem;
    }

    &__links {
      position: relative;
      transform: translateY(0.4rem);
      top: 0rem;
      width: 100%;
      height: 6rem;
      background-color: rgba(#eaeaea, 0.4);
      box-shadow: inset 0px 0px 0px 1px rgba(#eaeaea, 0.2);
      display: flex;
      padding: 1rem;
      justify-content: space-around;
      align-items: center;
      font-size: 2rem;
      color: rgba(black, 0.2);

      @include respond(phone) {
        top: 2.5rem;
      }
    }
  }
}
