.views__title {
  display: block;
  width: auto;
  text-align: center;
  color: $base-text-color;
  font-size: 5rem;
  z-index: 1;
  text-transform: uppercase;
  margin-top: 12rem;
  margin-bottom: 4rem;


  &:after {
    position: relative;
    top: -4rem;
    left: 0.1rem;
    background: $base-background;
    display: flex;
    content: "";
    width: auto;
    height: 5rem;
    background-size: cover;
    background-position: right;
    background-size: 150%;
    z-index: -1;
  }
}
